<article>
    <section class="listing-description">
        <h2 class="listing-heading">{{ computer?.id }}</h2>
        <p class="listing-computer">{{ computer?.brand }} {{ computer?.model }}</p>
    </section>
    <section class="listing-features">
        <h2 class="section-heading">About this computer</h2>
        <ul>
            <li>Processor: {{ computer?.processor }}</li>
            <li>RAM: {{ computer?.ram }}</li>
            <li>Storage: {{ computer?.storage }}</li>
            <li>Entry date: {{ computer?.entryDate }}</li>
        </ul>
    </section>
</article>